<div class="container have-height">
    <div class="row">
        <div class="col-lg-8 col-md-12 cart-col-1">
            <div class="row title visible-md-block visible-lg-block">
                <div class="col-lg-8 col-md-8">
                    <h5>Sản phẩm trong giỏ hàng</h5>
                    <span class="badge">1</span>
                </div>
                <div class="col-lg-1 col-md-1"><h6>Giá mua</h6></div>
                <div class="col-lg-1 col-md-1"><h6>Số lượng</h6></div>
                <div class="col-lg-1 col-md-1"><h6>Giá giảm</h6></div>
                <div class="col-lg-1 col-md-1 end"><h6>Thành tiền</h6></div>
            </div>

            <!-- Flash message -->
            <!-- End flash message -->

            <div class="alert alert-info">Bạn không  số lượng bọc sách Bookcare để sử dụng. <a href="">Đăng ký Bookcare</a></div>

            <form id="shopping-cart">
                <div class="row no-border have-gift">
                    <div class="col-lg-3 col-md-2 col-xs-3">
                        <p class="image">
                            <span class="sale">-20%</span>
                            <img class="img-responsive" src="http://tala.tikicdn.com/cache/200x280/media/catalog/product/0/0/0010030_co-gai-van-chuong-va-ga-kho-bi-troi-buoc-cgvc-t3-ban-dac-biet_370.gif">
                        </p>
                    </div>
                    <div class="col-lg-5 col-md-6 c2 col-xs-9">
                        <p class="name">
                            <a href="http://tiki.vn/co-gai-van-chuong-va-ga-kho-bi-troi-buoc-an-ban-dac-biet-p152081.html?ref=c316.c839.c844.c1391.c2766.c3715.c3844.c2288.c2735.c2793." target="_blank">Cô Gái Văn Chương Và Gã Khờ Bị Trói Buộc (Ấn Bản Đặc Biệt)
                                <img class="img24h" src="http://tala.tikicdn.com/assets/img/24h.png" title="Hỗ trợ giao hàng trong 24h tại TPHCM" alt="24h">
                            </a>
                        </p>
                        <p class="note">Bìa Mềm - Tác giả: <a href="" target="_blank">Nomura Mizuki</a></p>

                        <p class="note">Sách có thể bọc bằng <a href="" target="_blank">BookCare</a></p>

                        <p class="out-stock" data-js-stock="152081"></p>

                        <div class="row visible-xs-block visible-sm-block">
                            <div class="col-xs-6 col-sm-8">
                                <p class="price">95.000&nbsp;₫</p>
                                <p class="price2">119.000&nbsp;₫</p>
                            </div>
                            <div class="col-xs-6 col-sm-4 cart-col-3">
                                <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="tel" name="" class="form-control quantity quantity-r2 js-quantity-product" min="0" data-js-qty="" value="1" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button></span></div>
                            </div>
                        </div>
                        <p class="action">
                            <button type="button" class="btn btn-default btn-custom1 btn-item-delete " data-item-id="12467471"><img src="http://tala.tikicdn.com/assets/img/trash.png" alt=""></button>
                            <!-- <button type="button" class="btn btn-default btn-custom1 add-to-wishlist" data-product-id="152081">Đưa vào wishlist</button> -->
                        </p>
                    </div>
                    <div class="col-lg-1 col-md-1 visible-md-block visible-lg-block">
                        <p class="price">95.000&nbsp;₫</p>
                        <p class="price2">119.000&nbsp;₫</p>
                    </div>
                    <div class="col-lg-1 col-md-1 visible-md-block visible-lg-block">
                        <div class="input-group bootstrap-touchspin">
                            <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                            <input type="   tel" name="quantity[12467471]" class="form-control quantity quantity-r1 js-quantity-product" min="0" data-js-qty="" value="1" style="display: block;">
                            <span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span>
                            <span class="input-group-btn-vertical">
                                    <button class="btn btn-default bootstrap-touchspin-up" type="button"><i class="glyphicon glyphicon-chevron-up"></i></button><button class="btn btn-default bootstrap-touchspin-down" type="button"><i class="glyphicon glyphicon-chevron-down"></i></button></span></div>
                    </div>
                    <div class="col-lg-1 col-md-1 visible-md-block visible-lg-block">
                        <p class="price">0&nbsp;₫</p>
                    </div>
                    <div class="col-lg-1 col-md-1 visible-md-block visible-lg-block end">
                        <p class="price3">95.000&nbsp;₫</p>
                    </div>
                </div>


            </form>

            <!--
            <div class="row last">
                <div class="col-lg-12 col-md-12">
                    <div class="panel action">
                        <span class="js-product-gift-icon" data-toggle="tooltip" data-placement="right" style="color: #E54D42; font-size:12px;" data-original-title="Áp dụng cho đơn hàng Sách tiếp theo từ 300K. Coupon sẽ được đính kèm trong thùng hàng."><strong>Tặng ngay coupon 100K cho đơn hàng Sách từ 300K.</span>
                    </div>
                </div>
            </div>
            -->

            <div class="row last">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-default action">
                        <div class="panel-body">
                            <a class="continue" href="">Tiếp tục mua sắm</a>
                            <button type="button" class="btn btn-link update btn-update-cart">Cập nhật</button>
                            <!--<button type="button" class="btn btn-link remove-all btn-empty-cart">Xóa hết</button>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-12 cart-col-2">
            <div id="right-affix" class="affix-top">

                <div class="visible-lg-block">

                    <div class="panel panel-default fee">
                        <div class="panel-body">
                            <p class="total">Tổng cộng: <span>95.000&nbsp;₫</span></p>
                            <p class="discount">Giảm giá:
                                <span>
                0&nbsp;₫                </span>
                            </p>
                            <p class="total2">Thành tiền: <span>95.000&nbsp;₫ </span></p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-large btn-block btn-default btn-checkout" onclick="location.href=&#39;/checkout/shipping&#39;;return false;">TIẾP TỤC</button>


                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">


                        <div class="panel-group tikixu2" id="accordion2">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="" class="" aria-expanded="true">
                                            Giảm giá với Xu
                                            <span>
                    <img src="./cart_files/ico11.png" height="7" width="12" alt="">
                </span>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne2" class="panel-collapse collapse in" aria-expanded="true">
                                    <div class="panel-body">
                                        Vui lòng <a href="" class="login-to-use-point">đăng nhập</a> để sử dụng  Xu
                                    </div>
                                </div>
                            </div>                            </div>
                    </div>

                    <div class="col-sm-6 visible-sm-block visible-md-block is-no-pl">

                        <div class="panel panel-default fee">
                            <div class="panel-body">
                                <p class="total">Tổng cộng: <span>95.000&nbsp;₫</span></p>
                                <p class="discount">Giảm giá:
                                    <span>
                0&nbsp;₫                </span>
                                </p>
                                <p class="total2">Thành tiền: <span>95.000&nbsp;₫ </span></p>
                            </div>
                        </div>
                        <div class="visible-sm-block visible-md-block">

                            <button type="button" class="btn btn-large btn-block btn-default btn-checkout" onclick="location.href=&#39;/checkout/shipping&#39;;return false;">THANH TOÁN</button>

                            <div class="popover bottom tikixu">
                                <div class="arrow"></div>
                                <div class="popover-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="visible-xs-block">

                    <div class="panel panel-default fee">
                        <div class="panel-body">
                            <p class="total">Tổng cộng: <span>95.000&nbsp;₫</span></p>
                            <p class="discount">Giảm giá:
                                <span>
                0&nbsp;₫                </span>
                            </p>
                            <p class="total2">Thành tiền: <span>95.000&nbsp;₫ </span></p>
                        </div>
                    </div>
                </div>

                <div class="visible-xs-block">

                    <button type="button" class="btn btn-large btn-block btn-default btn-checkout" onclick="location.href=&#39;/checkout/shipping&#39;;return false;">THANH TOÁN</button>


                    <div class="popover bottom tikixu">
                        <div class="arrow"></div>
                        <div class="popover-content">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8 col-md-12 cart-col-1">
            <h5 class="recommend-title">Gói Dịch Vụ</h5>

            <div class="bx-wrapper" style="max-width: 334px; margin: 0px auto;"><div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 397px;"><div class="slider1 recommend-content" style="width: 415%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                <div class="recommend-item" style="float: left; list-style: none; position: relative; width: 152px; margin-right: 30px;">
                    <a href="">
					<span class="image">
						<img class="img-responsive" src="http://tala.tikicdn.com/cache/200x280/media/catalog/product/b/o/bookcare-3.png" width="130">

												<span class="sale-tag">-30</span>

					</span>
                        <span class="title">Dịch vụ BookCare 40 quyển</span>
                    </a>
                    <p class="price-sale">69.300&nbsp;₫</p>

                    <p class="price-regular">99.000&nbsp;₫ đ</p>

                    <input type="checkbox" class="btn btn-large btn-block btn-default add-to-cart" data-id="104632">

                    </input>



                </div>
                <div class="recommend-item" style="float: left; list-style: none; position: relative; width: 152px; margin-right: 30px;">
                    <a href="">
					<span class="image">
						<img class="img-responsive" src="http://tala.tikicdn.com/cache/200x280/media/catalog/product/b/o/bookcare-100.png" width="130">

												<span class="sale-tag">-30</span>

					</span>
                        <span class="title">Dịch vụ BookCare 100 quyển</span>
                    </a>
                    <p class="price-sale">139.300&nbsp;₫</p>

                    <p class="price-regular">199.000&nbsp;₫ đ</p>

                    <input type="checkbox" class="btn btn-large btn-block btn-default add-to-cart" data-id="104637">

                    Đưa vào giỏ hàng
                    </input>


                </div>
            </div></div></div>
        </div>
    </div>    </div>