<div class="container sp">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Quản lý sản phẩm</h3>
        </div>
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Mã sách</th>
                        <th>Tên sách</th>
                        <th>Tác giả</th>
                        <th>Nhà xuất bản</th>
                        <th>Thể loại</th>
                        <th>Giá bán</th>
                        <th>Số lượng</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>001 </td>
                        <td>Đắc Nhân Tâm </td>
                        <td>Dale carnegie</td>
                        <td>Giáo dục</td>
                        <td>Cuộc sống</td>
                        <td>89000 </td>
                        <td>50 </td>
                    </tr>
                    <tr>
                        <td>002 </td>
                        <td>10 Bí Mật Của Tình Yêu  </td>
                        <td> </td>
                        <td>NXB Văn Hoá Thông Tin </td>
                        <td>Sách Khoa Học - Kỹ Thuật </td>
                        <td>28000 </td>
                        <td>20 </td>
                    </tr>
                    <tr>
                        <td>003 </td>
                        <td>10 Phút Dạy Trẻ Mỗi Ngày (Tập 4)  </td>
                        <td> </td>
                        <td>NXB Mỹ Thuật </td>
                        <td>Giáo Trình Đại Học - Cao Đẳng </td>
                        <td>45000 </td>
                        <td>10 </td>
                    </tr>
                    <tr>
                        <td>004 </td>
                        <td>Bây Giờ Mới Thấy </td>
                        <td> </td>
                        <td>NXB Phương Đông </td>
                        <td>Sách Văn Hoá - Địa Lý - Du Lịch </td>
                        <td>62000 </td>
                        <td>20 </td>
                    </tr>
                    <tr>
                        <td>005 </td>
                        <td>100 Thủ Thuật Microsoft Office Excel 2007 </td>
                        <td> </td>
                        <td>NXB Thanh Niên </td>
                        <td>Sách Thường Thức - Đời Sống </td>
                        <td>65000 </td>
                        <td>20 </td>
                    </tr>
                    <tr>
                        <td>006 </td>
                        <td>Xương Rồng Và Cây Mọng Nước </td>
                        <td>Dương Ngọc Hiệp </td>
                        <td>NXB Văn Hoá Thông Tin </td>
                        <td>Magazines </td>
                        <td>56000 </td>
                        <td>10 </td>
                    </tr>
                    <tr>
                        <td>007 </td>
                        <td>Tu Trong Công Việc </td>
                        <td>Hòa thượng Thích Thánh Nghiêm </td>
                        <td>NXB Phương Đông </td>
                        <td>Sách Tôn Giáo - Tâm Linh </td>
                        <td>44000 </td>
                        <td>20 </td>
                    </tr>
                    <tr>
                        <td>008 </td>
                        <td>Trò Chơi Của Nhà Tiên Tri </td>
                        <td>Bruce Bueno de Mesquita </td>
                        <td> </td>
                        <td>Fiction - Literature </td>
                        <td>98000 </td>
                        <td>10 </td>
                    </tr>
                    <tr>
                        <td>009 </td>
                        <td>Thịnh Vượng Tài Chính Tuổi 30 </td>
                        <td>Choi Pyong Hee &amp; Go Deuk Seong &amp; Jeong Seong Jin </td>
                        <td>NXB Lao Động Xã Hội </td>
                        <td>Sách Kiến Thức Tổng Hợp </td>
                        <td>79000 </td>
                        <td>20 </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav class="pagination">
                <ul class="pagination">
                    <li>
                        <a aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li>
                        <a>1</a>
                    </li>
                    <li>
                        <a>2</a>
                    </li>
                    <li>
                        <a>3</a>
                    </li>
                    <li>
                        <a>4</a>
                    </li>
                    <li>
                        <a>5</a>
                    </li>
                    <li>
                        <a aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <button class="btn btn-info" type="button">Thêm </button>
    <button class="btn btn-info" type="button">Xóa </button>
    <button class="btn btn-info" type="button">Sửa </button>
</div>