<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="lzd-playground">
            <div class="lzd-playground-main" data-spm-anchor-id="a2o4n.forgotpsw.0.i2.604f705bOrz4LW">
                <div class="lzd-playground-nav"></div>
                <div id="container" class="container" style="width:100%;">
                    <div>
                        <div class="mod-layout">
                            <h2 class="mod-layout-title" data-spm-anchor-id="a2o4n.forgotpsw.0.i3.604f705bOrz4LW">Quên mật khẩu?</h2>
                            <div class="mod-layout-main" data-spm-anchor-id="a2o4n.forgotpsw.0.i1.604f705bOrz4LW">
                                <h3 class="mod-layout-subtitle">Nhập địa chỉ email của bạn dưới đây và chúng tôi sẽ gửi cho bạn một liên kết để đặt lại mật khẩu của bạn.</h3>
                                <div class="forgot">
                                    <div class="forgot-form">
                                        <div class="mod-input mod-input-email">
                                            <label>Địa chỉ email</label>
                                            <input type="text" placeholder="Vui lòng nhập email của bạn" data-meta="Field" value /><b></b><span></span></div>
                                    </div>
                                    <div class="forgot-action">
                                        <button type="button" class="next-btn next-btn-primary next-btn-large">GỬI</button>
                                    </div>
                                    <div style="margin-top:2vw;" class="forgot-ft"><a href="/user/login">Quay lại</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>