<div class="container sp">
    <div class="row">
        <div class="col-md-2">
            <h4>Xin chào Nguyễn Hữu Thân</h4>
            <div>
                <a href="user.html">Lịch sử mua hàng</a>
            </div>
            <div>
                <a href="gio-hang.html">Giỏ hàng</a>
            </div>
        </div>
        <div class="col-md-3">
            <span>Tên </span>
            <input type="text" value="Nguyễn Hữu Thân" class="ip" />
            <hr />
            <span>Ngày sinh</span>
            <input type="date" class="ip" />
        </div>
        <div class="col-md-3">
            <span>Địa chỉ email</span>
            <h4>huuthan97@gmail.com </h4>
            <hr />
            <span>Giới tính</span>
            <select class="ip">
                <option value="12" selected>Nam</option>
                <option value="13">Nữ</option>
            </select>
        </div>
        <div class="col-md-3">
            <span> Số điện thoại</span>
            <input type="text" value="01657409117" class="ip" />
            <hr />
            <span>Sổ địa chỉ</span>
            <input type="text" value="18/13 Trần Văn Thành, q8, tp HCM" class="ip" />
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-5">
            <button type="submit" class="next-btn next-btn-primary next-btn-large">LƯU THÔNG TIN</button>
        </div>
    </div>
</div>