<div class="container sp">
    <div class="row">
        <div class="col-md-2">
            <h4>Xin chào Nguyễn Hữu Thân</h4>
            <div>
                <a href="sua-tt.html">Sửa đổi thông tin</a>
            </div>
            <div>
                <a href="thanh-toan.html">Giỏ hàng</a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <h5>Thông tin cá nhân</h5>
                    <h5>Nguyễn Hữu Thân</h5>
                    <span>huuthan97@gmail.com </span>
                </div>
                <div class="col-md-8">
                    <h5>Sổ địa chỉ</h5>
                    <h5>Nguyễn Hữu Thân</h5>
                    <span>18/13 Trần Văn Thành, q8, tp HCM</span>
                    <h5>01657409112 </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Đơn hàng gần đây</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                    <tbody>
                                    <tr class="green">
                                        <td>Mã đơn hàng</td>
                                        <td>Ngày đặt hàng</td>
                                        <td>Tổng tiền</td>
                                        <td>Chi tiết</td>
                                    </tr>
                                    <tr>
                                        <td>1233</td>
                                        <td>2017-05-25 19:16:15 </td>
                                        <td>572000 </td>
                                        <td>
                                            <a href="chi-tiet-dh.html">Xem </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>27 </td>
                                        <td>2017-04-21 12:10:45  </td>
                                        <td>200000 </td>
                                        <td>
                                            <a href="chi-tiet-dh.html">Xem </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>121 </td>
                                        <td>2017-02-2 8:10:30</td>
                                        <td>420000 </td>
                                        <td>
                                            <a href="chi-tiet-dh.html">Xem </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>