{{#if showMsg}}
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success!</strong> {{Msg}}
</div>
{{/if}}

<div class="login">
    <div class="login-title" style="margin-left: 520px">

        <h3 style="color: #0f8edd">Thêm mới thể loại sách</h3>

    </div>
    <div>
        <form action="" method="POST" role="form" onsubmit="return validate();">
            <div class="mod-login">
                <div class="mod-login-col1" style="width: 350px;">
                    <div class="mod-input">
                        <label style="font-size: 14px">Tên thể loại</label>
                        <input type="text" placeholder="Nhập tên thể loại" data-meta="Field" name="tenLoai">
                        <b></b>
                        <span></span>
                    </div>
                </div>
            </div>
            <div class="form-row subscribe-outer" style="width: 18%;margin-left: 260px;margin-top: -40px">
                <a href="/manager/theloai">
                    <button type="button" class="button-default ygradient1 ">Quay lại</button>
                </a>
                <button type="submit" class="button-default ygradient1 ">THÊM</button>
            </div>
        </form>
    </div>
</div>